.container{
    width: 100%;
}

.button{
    background-color: hsla(0, 0%, 100%, 0.089);
    border-radius: 4px;
    border: linear-gradient(90deg, #7efe87 0%, #9873FF 100%);
    color: linear-gradient(90deg, #7efe87 0%, #9873FF 100%);
    margin-right: 10px;

}

/* Banner Styles */
.banner{
    height: 400px;
    width: 100%;
    margin: 200px 90px;
    display: flex;
    align-items: center;
}
.banner img {
    height: 500px;
}
.banner-title{
    font-weight: 700;
    font-size: 45px;
    color: #000000;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    color: #000000;
    margin-bottom: 5px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Banner end */



.button-see{
    align-items: center;
    margin-left: 400px;
    margin-right:700px;
}