



.one-step {
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
    
}

.dream-job {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

p {
    
    font-weight: 500;
    font-size: 18px;
    color: #757575;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.btn-2 {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    width: 172px;
    height: 65px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: azure;
    
    margin-top: 10px;
}

.header{
    padding-top: 90px;
    padding-left: 60px;
}

img{
    width: 816px;
    height: 744px;
    
    
    
}

